[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "www.getdbt.com"]
	path = www.getdbt.com
	url = https://github.com/fishtown-analytics/www.getdbt.com
[submodule "source/dbt-site"]
	path = source/dbt-site
	url = git@github.com:fishtown-analytics/www.getdbt.com.git
