version: "3.9"
services:
  web:
    container_name: dbt-hub
    build: .
    command: bundle exec middleman serve --port 4567
    volumes:
      - '.:/app'
    ports:
      - "4567:4567"
  dbt-fusion:
    build: tests/fusion/.
    volumes:
      - './tests/sample_project/.:/usr/app'
    environment:
      DBT_PACKAGE_HUB_URL: http://web:4567/
  dbt-core:
    build: tests/core/.
    volumes:
      - './tests/sample_project/.:/usr/app'
    environment:
      DBT_PACKAGE_HUB_URL: http://web:4567/
