---
# The main stylesheet
---

$readme: false;

@charset "utf-8";
@import "../../www.getdbt.com/ui/_sass/effects/effects";
@import "../../www.getdbt.com/ui/_sass/bootstrap/variables";
@import "../../www.getdbt.com/ui/_sass/bootstrap/bootstrap-sass/bootstrap";

@import "../../www.getdbt.com/ui/_sass/functions/functions";
@import "../../www.getdbt.com/ui/_sass/fonts/fonts";
@import "../../www.getdbt.com/ui/_sass/base/base";
@import "../../www.getdbt.com/ui/_sass/widgets/widgets";
@import "../../www.getdbt.com/ui/_sass/components/components";
@import "../../www.getdbt.com/ui/_sass/layout/layout";
@import "../../www.getdbt.com/ui/_sass/custom/custom";

pre {
    background-color: #f6f8fa;
    color: #24292e;
}


// https://css-tricks.com/careful-when-changing-the-display-of-summary/
summary {
    // to make summaries show with the triangle
    display: list-item;
    // to render the summaries a bit better when they are one after the other
    margin-top: 16px
}

img {
    display: inline;
}

.hub-logo > img {
    display: block;
}