
@font-face{
	font-family:"Lato";
	font-weight: normal;
	font-style: normal;
	src:url("../fonts/lato/lato-regular.woff");
}
@font-face{
	font-family:"Lato";
	font-weight: normal;
	font-style: oblique;
	src:url("../fonts/lato/lato-italic.woff");
}

@font-face{
	font-family:"Lato";
	font-weight: bold;
	font-style: normal;
	src:url("../fonts/lato/lato-bold.woff");
}
@font-face{
	font-family:"Lato";
	font-weight: bold;
	font-style: oblique;
	src:url("../fonts/lato/lato-bolditalic.woff");
}