.avatar {
	@include transitions;
	font-size: 1em;
	width: 1.25em;
	height: 1.25em;
	min-height: 20px;
	min-width: 20px;
	display: inline-block;
	vertical-align: middle;
	background: $silver-dark;
	@include circle;
	&.avatar-medium {
		@include font-size-larger;
	}
	&.avatar-large {
		@include font-size-largest;
	}
	img {
		@include fill;
		@include circle;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	}
	top: -.075em;
	margin-right: 6px;
}

a.avatar:hover,
a:hover .avatar {
	img {
		@include transform(scale(1.08));
		box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
	}
}

