.badge {
	@include pill;
	@include labels;
	border: 1px solid transparent;
	padding: 3px 8px;
	
	&.badge-success { background: $brand-success; color: white; }
	&.badge-warning { background: $brand-warning; color: white; }
	&.badge-danger { background: $brand-danger; color: white; }
}

.active {
	.badge {
		color: $component-active-color;
		background: saturate(darken($component-active-bg,7%),15%);
	}
}

.list-group-item .badge {
	float: right;
}

.badges {
	font-size: 0;
	display: block;
	.badge { margin: 2px 4px 2px 0; }
}