@font-face {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/entypo/entypo.woff') format('woff');
}

[data-icon] {
  width: 24px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  &:before {
    font-family: "entypo";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 18px;
    top: -5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    display: block;
  }
  &.md { &:before { font-size: 20px; } }
  &.lg { width: 32px; &:before { font-size: 32px; top: -11px; } }
  &.icon-buffer {
  	margin-left: .5em;
  	margin-right: .5em;
  }
}

@mixin icon($icon,$code,$transform:false) {
  [data-icon="#{$icon}"]:before {
    content: $code;
    @if $transform {
      @include transform($transform);
    }
  }
}

@include icon(note,'\e800');
@include icon(logo-db,'\e8de');
@include icon(music,'\e802');
@include icon(search,'\e803');
@include icon(flashlight,'\e804');
@include icon(mail,'\e805');
@include icon(heart,'\e80d');
@include icon(heart-empty,'\e80f');
@include icon(star,'\e810');
@include icon(star-empty,'\e813');
@include icon(user,'\e814');
@include icon(users,'\e817');
@include icon(user-add,'\e819');
@include icon(video,'\e81a');
@include icon(picture,'\e81d');
@include icon(camera,'\1F4F7');
@include icon(layout,'\e821');
@include icon(menu,'\e823');
@include icon(check,'\e824');
@include icon(cancel,'\e826');
@include icon(cancel-circled,'\e806');
@include icon(cancel-squared,'\e808');
@include icon(plus,'\002B');
@include icon(close,'\002B',(rotate(45deg)));
@include icon(plus-circled,'\e809');
@include icon(plus-squared,'\e80a');
@include icon(minus,'\2212');
@include icon(minus-circled,'\e80e');
@include icon(minus-squared,'\e80c');
@include icon(help,'\e811');
@include icon(help-circled,'\e812');
@include icon(info,'\e815');
@include icon(info-circled,'\e816');
@include icon(back,'\e818');
@include icon(home,'\e81b');
@include icon(link,'\e81c');
@include icon(attach,'\e81f');
@include icon(lock,'\1F512');
@include icon(lock-open,'\e822');
@include icon(eye,'\e825');
@include icon(tag,'\e827');
@include icon(bookmark,'\1F516');
@include icon(bookmarks,'\e837');
@include icon(flag,'\e838');
@include icon(thumbs-up,'\e840');
@include icon(thumbs-down,'\e849');
@include icon(download,'\e85d');
@include icon(upload,'\e851');
@include icon(upload-cloud,'\e86b');
@include icon(reply,'\e86c');
@include icon(reply-all,'\e87b');
@include icon(forward,'\e87c');
@include icon(quote,'\e889');
@include icon(code,'\e88a');
@include icon(export,'\e899');
@include icon(pencil,'\270F');
@include icon(feather,'\e8a5');
@include icon(print,'\e8a8');
@include icon(retweet,'\e8a9');
@include icon(keyboard,'\2328');
@include icon(comment,'\e8ab');
@include icon(chat,'\e829');
@include icon(bell,'\1F514');
@include icon(attention,'\e839');
@include icon(alert,'\e841');
@include icon(vcard,'\e853');
@include icon(address,'\e85c');
@include icon(location,'\e852');
@include icon(map,'\e84a');
@include icon(direction,'\e86d');
@include icon(compass,'\e87a');
@include icon(cup,'\e850');
@include icon(trash,'\e888');
@include icon(doc,'\e88b');
@include icon(docs,'\e898');
@include icon(doc-landscape,'\e89b');
@include icon(doc-text,'\e8a6');
@include icon(doc-text-inv,'\e8a7');
@include icon(newspaper,'\1F4F0');
@include icon(book-open,'\e8ad');
@include icon(book,'\e8ac');
@include icon(folder,'\e82a');
@include icon(archive,'\e835');
@include icon(box,'\e83a');
@include icon(rss,'\e842');
@include icon(phone,'\e854');
@include icon(cog,'\e85e');
@include icon(tools,'\e860');
@include icon(share,'\e84b');
@include icon(shareable,'\e86e');
@include icon(basket,'\e879');
@include icon(bag,'\e87e');
@include icon(calendar,'\1F4C5');
@include icon(login,'\e88c');
@include icon(logout,'\e897');
@include icon(mic,'\e84d');
@include icon(mute,'\e84e');
@include icon(sound,'\e8ae');
@include icon(volume,'\e8b4');
@include icon(clock,'\e8af');
@include icon(hourglass,'\231B');
@include icon(lamp,'\e82b');
@include icon(light-down,'\e834');
@include icon(light-up,'\e83b');
@include icon(adjust,'\e843');
@include icon(block,'\2588');
@include icon(resize-full,'\e85f');
@include icon(resize-small,'\e861');
@include icon(popup,'\e86a');
@include icon(publish,'\e86f');
@include icon(window,'\e878');
@include icon(arrow-combo,'\e87d');
@include icon(down-circled,'\e887');
@include icon(left-circled,'\e88d');
@include icon(right-circled,'\e896');
@include icon(up-circled,'\e89c');
@include icon(down-open,'\e84c');
@include icon(left-open,'\e8b2');
@include icon(right-open,'\e8b3');
@include icon(up-open,'\e8b5');
@include icon(down-open-mini,'\e8b6');
@include icon(left-open-mini,'\e833');
@include icon(right-open-mini,'\e832');
@include icon(up-open-mini,'\e83c');
@include icon(down-open-big,'\e844');
@include icon(left-open-big,'\e855');
@include icon(right-open-big,'\e85b');
@include icon(up-open-big,'\e862');
@include icon(down,'\e869');
@include icon(left,'\e870');
@include icon(right,'\e877');
@include icon(up,'\e87f');
@include icon(down-dir,'\e886');
@include icon(left-dir,'\e88e');
@include icon(right-dir,'\e895');
@include icon(up-dir,'\e89d');
@include icon(down-bold,'\e8a4');
@include icon(left-bold,'\e8ba');
@include icon(right-bold,'\e8b9');
@include icon(up-bold,'\e8b8');
@include icon(down-thin,'\e8b7');
@include icon(left-thin,'\e82c');
@include icon(note-beamed,'\e801');
@include icon(up-thin,'\e83d');
@include icon(cw,'\e856');
@include icon(arrows-ccw,'\e85a');
@include icon(level-down,'\e863');
@include icon(level-up,'\e868');
@include icon(shuffle,'\e871');
@include icon(loop,'\e876');
@include icon(switch,'\e880');
@include icon(play,'\e885');
@include icon(stop,'\e88f');
@include icon(pause,'\e894');
@include icon(record,'\e89e');
@include icon(to-end,'\e8a3');
@include icon(to-start,'\e8bb');
@include icon(fast-forward,'\e8bc');
@include icon(fast-backward,'\e8bd');
@include icon(progress-0,'\e8be');
@include icon(progress-1,'\e82d');
@include icon(progress-2,'\e830');
@include icon(progress-3,'\e83e');
@include icon(target,'\e857');
@include icon(palette,'\e847');
@include icon(list,'\e859');
@include icon(list-add,'\e864');
@include icon(signal,'\e867');
@include icon(trophy,'\1F3C6');
@include icon(battery,'\1F50B');
@include icon(back-in-time,'\e881');
@include icon(monitor,'\e884');
@include icon(mobile,'\e890');
@include icon(network,'\e893');
@include icon(cd,'\e89f');
@include icon(inbox,'\e8a2');
@include icon(install,'\e8c2');
@include icon(globe,'\e8c1');
@include icon(cloud,'\2601');
@include icon(cloud-thunder,'\e8bf');
@include icon(flash,'\e82e');
@include icon(moon,'\e82f');
@include icon(flight,'\e83f');
@include icon(paper-plane,'\e845');
@include icon(leaf,'\e846');
@include icon(lifebuoy,'\e858');
@include icon(mouse,'\1F401');
@include icon(briefcase,'\1F4BC');
@include icon(suitcase,'\e873');
@include icon(dot,'\e874');
@include icon(dot-2,'\e882');
@include icon(dot-3,'\e883');
@include icon(brush,'\e891');
@include icon(magnet,'\e892');
@include icon(infinity,'\221E');
@include icon(erase,'\e8a1');
@include icon(chart-pie,'\e8c3');
@include icon(chart-line,'\e8c4');
@include icon(chart-bar,'\e8c5');
@include icon(chart-area,'\e8c6');
@include icon(tape,'\e8c7');
@include icon(graduation-cap,'\e8d2');
@include icon(language,'\e8d4');
@include icon(ticket,'\1F3AB');
@include icon(water,'\e8da');
@include icon(droplet,'\1F4A7');
@include icon(air,'\e8e3');
@include icon(credit-card,'\e8ea');
@include icon(floppy,'\e8eb');
@include icon(clipboard,'\1F4CB');
@include icon(megaphone,'\e8f3');
@include icon(database,'\e8fa');
@include icon(drive,'\e8fc');
@include icon(bucket,'\e902');
@include icon(thermometer,'\e903');
@include icon(key,'\1F511');
@include icon(flow-cascade,'\e90b');
@include icon(flow-branch,'\e912');
@include icon(flow-tree,'\e913');
@include icon(flow-line,'\e91a');
@include icon(flow-parallel,'\e8c8');
@include icon(rocket,'\1F680');
@include icon(gauge,'\e8d3');
@include icon(traffic-cone,'\e8d8');
@include icon(cc,'\e8db');
@include icon(cc-by,'\e8e1');
@include icon(cc-nc,'\e8e4');
@include icon(cc-nc-eu,'\e8e9');
@include icon(cc-nc-jp,'\e8ec');
@include icon(cc-sa,'\e8f1');
@include icon(cc-nd,'\e8f4');
@include icon(cc-pd,'\e8f9');
@include icon(cc-zero,'\e8fb');
@include icon(cc-share,'\e901');
@include icon(cc-remix,'\e904');
@include icon(github,'\e909');
@include icon(github-circled,'\e90c');
@include icon(flickr,'\e911');
@include icon(flickr-circled,'\e914');
@include icon(vimeo,'\e919');
@include icon(vimeo-circled,'\e8c9');
@include icon(twitter,'\e8d0');
@include icon(twitter-circled,'\e8d6');
@include icon(facebook,'\e8d7');
@include icon(facebook-circled,'\e8dc');
@include icon(facebook-squared,'\e8e0');
@include icon(gplus,'\e8e5');
@include icon(gplus-circled,'\e8e8');
@include icon(pinterest,'\e8ed');
@include icon(pinterest-circled,'\e8f0');
@include icon(tumblr,'\e8f5');
@include icon(tumblr-circled,'\e8f8');
@include icon(linkedin,'\e8fd');
@include icon(linkedin-circled,'\e900');
@include icon(dribbble,'\e905');
@include icon(dribbble-circled,'\e908');
@include icon(stumbleupon,'\e90d');
@include icon(stumbleupon-circled,'\e910');
@include icon(lastfm,'\e915');
@include icon(lastfm-circled,'\e918');
@include icon(rdio,'\e8ca');
@include icon(rdio-circled,'\e8d5');
@include icon(spotify,'\e8cf');
@include icon(spotify-circled,'\e8ce');
@include icon(qq,'\e8dd');
@include icon(instagram,'\e8df');
@include icon(dropbox,'\e8e6');
@include icon(evernote,'\e8e7');
@include icon(flattr,'\e8ee');
@include icon(skype,'\e8ef');
@include icon(skype-circled,'\e8f6');
@include icon(renren,'\e8f7');
@include icon(sina-weibo,'\e8fe');
@include icon(paypal,'\e8ff');
@include icon(picasa,'\e906');
@include icon(soundcloud,'\e907');
@include icon(mixi,'\e90e');
@include icon(behance,'\e90f');
@include icon(google-circles,'\e916');
@include icon(vkontakte,'\e917');
@include icon(smashing,'\e8cb');
@include icon(sweden,'\e8cc');
@include icon(db-shape,'\e8cd');
@include icon(bitbucket,'\20AC');
@include icon(slack,'\00B4');
@include icon(fishtown,'\002A');