.carousel {

    .carousel-control {
        color: $text-color;
        line-height: 100px;
        width: 20px;
    }

    .carousel-inner {
        min-height: 100px;

        .item {
            padding: 0px 30px;
        }
    }
}
