.tiles {
	@include flex-row;
	@include flex-wrap;
	@include flex-justify(stretch);
	margin: 3em -20px;
	.tile {
		@include flex(0,0,percentage(1/3));
		@include flex-column;
		@include flex-justify(stretch);
		@include max-tablet { @include flex(0,0,percentage(1/2)); }
		@include max-phablet { @include flex(0,0,percentage(1)); }
	}
}

.tile {
	text-align: left;
	color: $normal;
}

.tile-content {
	padding: 20px;
	@include flex-column;
	@include flex-justify(stretch);
	@include flex(1,0,auto);
}

.tile-body {
	@include transitions;
	background: white;
	border-radius: 6px;
	padding: 30px;
	overflow: hidden;
	@include shadow;
	@include flex-row;
	@include flex(1,0,auto);
}

.tile-graphic {
	@include flex(0,0,72px);
	img {
		width: 90px;
		height: 90px;
		border-radius: 16px;
		max-width: none;
		@include shadow;
		margin-left: -46px;
		top: 2px;
	}
}

.tile-text {
	@include flex(1,0,100px);
	@include snug;
}

a.tile {
	@include active {
		.tile-body {
			@include transform(scale(1.025));
			@include shadow(12px);
		}
	}
}
