.album {
	margin: 0 $component-buffer/-2;
	visibility: hidden;
	&.album-ready { visibility: visible; }
	.album-content {
		@include flex-row;
		@include flex-wrap;
		@include flex-align(stretch);
		.album-image {
			@include flex(1,1,auto);
			margin: $component-buffer/2;
			img {
				margin: 0;
				display: block;
				width: 100%;
				height: auto;
				@include component;
			}
		}
		// @include media-mini {
		// 	display: block;
		// }
	}
}