.matrix {
	margin: 0 $component-buffer/-2;
	@include flex-row;
	@include flex-align(stretch);
	@include flex-wrap;
	&.matrix-nowrap { @include flex-wrap(nowrap); }
	.matrix-item {
		padding: $component-buffer/2;
		@include flex-column;
		@include flex(1,1,$component-break);
		> * {
			@include flex(1,1);
			margin: 0;
		}
	}
}