<nav class="navigation">
  <div class="section orange iso center">
	<div class="section-content">
	  <div class="navigation-content">
		<div class="navigation-brand">
		  <a class="hub-logo" href="<%= site_url %>/" title="dbt (data build tool) hub" target="_self">
			<strong class="nav-logo-text">dbt (data build tool) hub</strong>
			<span class="hub-logo-mark"></span>
		  </a>
		</div>
		<div class="navigation-link">
          <a class="github-button"
             href="https://github.com/fishtown-analytics/dbt"
             data-icon="octicon-star"
             data-size="large"
             data-show-count="true"
             aria-label="Star fishtown-analytics/dbt on GitHub">Github</a>
        </div>
		<div class="navigation-link">
          <a class="btn btn-outline"
             href="https://docs.getdbt.com/docs/installation"
             target="_blank">Install dbt</a>
        </div>

		<div class="navigation-link">
          <a class="btn btn-blue btn-shadow"
             href="https://slack.getdbt.com"
             target="_blank">
            <i data-icon="slack"></i>Join us on Slack</a>
        </div>

		<div class="navigation-menu">
		  <div class="dropdown">
			<a class="btn btn-text btn-skinny" href="#" data-toggle="dropdown"><i data-symbol="menu" class="lg"></i></a>
			<ul class="dropdown-menu dropdown-menu-right">
			  <li><a href="https://docs.getdbt.com/docs/installation"
                     target="_blank">Install dbt</a></li>
			  <li><a href="https://github.com/fishtown-analytics/dbt"
                     target="_blank">Github</a></li>
			  <li class="divider"></li>
			  <li><a
                    href="https://slack.getdbt.com"
                    target="_blank">
                  Join us on Slack</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</nav>
