<nav class="navigation" style='background-color: white; box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);  -moz-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);'>
  <div class="section orange iso center">
	<div class="section-content">
	  <div class="navigation-content" style="height: 80px">
		<div class="navigation-brand">
		     <a class="hub-logo" href="<%= site_url %>/" title="dbt hub" target="_self">
			<strong class="nav-logo-text">dbt hub</strong>
            		<img src='<%= site_url %>/img/logos/dbt-lockup.png' style="height: 48px"/>
		  </a>
		</div>
		<div class="navigation-link">
		     <a class="btn btn-teal btn-shadow" style="background-color:#047377;color:#fff"
			href="https://docs.getdbt.com/docs/building-a-dbt-project/package-management"
			target="_blank">
			     <i data-icon="book"></i>Get started
			</a>
		</div>
		<div class="navigation-menu">
		  <div class="dropdown">
			<a class="btn btn-text btn-teal btn-skinny" href="#" data-toggle="dropdown"><i data-symbol="menu" class="lg"></i></a>
			<ul class="dropdown-menu dropdown-menu-right">
			  <li><a href="https://docs.getdbt.com/docs/building-a-dbt-project/package-management"
                     target="_blank">Get started</a></li>
			  <li><a href="https://github.com/fishtown-analytics/dbt"
                     target="_blank">GitHub</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</nav>
