<header class="header">
  <%= partial "nav" %>
  <section class="section orange iso center">
	<div class="section-content section-content-small">
      <h1 class="h0">Package Disclaimer</h1>
	</div>
  </section>
</header>

<main class="main">

  <section class="section offset white">
	<div class="section-content">
	  <p>dbt Labs hosts this Package Hub as a courtesy to the dbt Community, but cannot undertake any liability with respect to your use of the Package Hub. You retain any and all associated liability and risks, and you are responsible for evaluating the suitability of packages.</p>
    <p>Use of the Package Hub, including installation of any packages, is confirmation that the website visitor has notice of and understands that: 
      <ul>
        <li>the Packages are not included as services or products purchased from dbt Labs unless otherwise expressly indicated by dbt Labs in an ordering document;</li>
        <li>dbt Labs has not certified or confirmed the integrity, operability, effectiveness, or security of any Packages; and</li>
        <li>dbt Labs does not and cannot convey ownership of or license to the Packages to any current or prospective customer or website visitor.</li>
      </ul>
    </p>
    <p>Definitions:
      <ul>
        <li>"Packages" means the contents, packages, code and/or routines offered, listed, indexed, named, linked to (for example below the Featured Packages and the Package Index headings), or described on this webpage.</li>
        <li>"Use of the Package Hub" includes a visitor installing, downloading, viewing, clicking on, selecting, or using Packages or their associated content.</li>
        <li>The use of "you" in any form (e.g., including yourself, yours, etc.) means the reader who may be the Package owner, an individual, business, or company.</li>
      </ul>
    </p>

    <p>For any questions or concerns, please contact your dbt sales representative or <a href="mailto:support@getdbt.com">support@getdbt.com</a>.</p>

    </div>
  </section>
</main>
