<header class="header">
  <%= partial "nav" %>
  <section class="section orange iso center">
	<div class="section-content section-content-small">
      <h1 class="h0">Terms of use</h1>
	</div>
  </section>
</header>

<main class="main">

  <section class="section offset white">
	<div class="section-content">
    <p><i>In the context of this document, "Packages" means the contents, packages, code and/or routines offered, listed, indexed, named, linked to (for example below the Featured Packages and the Package Index headings), or described on this webpage. "Use of the Package Hub" includes a visitor installing, downloading, viewing, clicking on, selecting, or using Packages or their associated content.</i></p>
	  <p>dbt Labs hosts this Package Hub as a courtesy to the dbt Community, but you retain responsibility for satisfying yourself as to the suitability of packages you choose to install in your project.</p>
    <p>dbt Labs cannot undertake any liability with respect to your use of the Package Hub. You retain any liability or risks associated with any of your actions.</p>
    <p>Use of this Hub, including installation of any packages, is confirmation that the website visitor has notice of and understands that: 
      <ol>
        <li>the Packages are not included as services or products purchased from dbt Labs unless otherwise expressly indicated by dbt Labs in an ordering document;</li>
        <li>dbt Labs has not certified or confirmed the integrity, operability, effectiveness, or security of any Packages; and </li>
        <li>dbt Labs does not and cannot convey ownership of or license to the Packages to any current or prospective customer or user.</li>
      </ol>
    </p>
    </div>
  </section>
</main>