
@mixin scale-text($minfont,$maxfont:false,$minscreen:$mini,$maxscreen:$large){
	font-size: $minfont;
	@if $maxfont {
		@if $maxfont != $minfont {
			$base: strip-unit($font-size-root);
			$x1: $minscreen;
			$x2: $maxscreen;
			$y1: $minfont;
			$y2: $maxfont;
			$m1: strip-unit($y2 - $y1) / strip-unit($x2 - $x1);
			font-size: calc( ( 100vw - #{$x2} ) * #{$m1} * #{$base} + #{$y2} );
			@media ( min-width: $maxscreen ) { font-size: $maxfont; }
			@media ( max-width: $minscreen ) { font-size: $minfont; }
		}
	}
}

@mixin serif(){ font-family: $font-family-serif; }
@mixin sans(){ font-family: $font-family-sans-serif; }

@mixin font-size-root(){ @include scale-text($font-size-root,$font-size-root-full); }
@mixin font-size-label(){ @include scale-text($font-size-label); }
@mixin font-size-code(){ @include scale-text($font-size-code); }
@mixin font-size-base(){ @include scale-text($font-size-base); }
@mixin font-size-small(){ @include scale-text($font-size-small); }
@mixin font-size-large(){ @include scale-text($font-size-large,$font-size-large-full); }
@mixin font-size-larger(){ @include scale-text($font-size-larger,$font-size-larger-full); }
@mixin font-size-largest(){ @include scale-text($font-size-largest,$font-size-largest-full); }
@mixin font-size-huge(){ @include scale-text($font-size-huge,$font-size-huge-full); }
@mixin font-size-h1(){ @include scale-text($font-size-h1,$font-size-h1-full); }
@mixin font-size-h2(){ @include scale-text($font-size-h2,$font-size-h2-full); }
@mixin font-size-h3(){ @include scale-text($font-size-h3,$font-size-h3-full); }
@mixin font-size-h4(){ @include scale-text($font-size-h4,$font-size-h4-full); }
@mixin font-size-h5(){ @include scale-text($font-size-h5,$font-size-h5-full); }
@mixin font-size-h6(){ @include scale-text($font-size-h6,$font-size-h6-full); }



@function h($from:false, $to:false) {
	@if $from and $to {
		// nothing
	} @else {
		@if $from {
			$to: $from;
		}
	}
	@if $from == false { $from: 1; }
	@if $to == false { $to: 6; }
	@if $from == $to {
		@return 'h#{$from}, .h#{$from}';
	} @else {
		@return 'h#{$from}, .h#{$from},' + h($from+1, $to);
	}
}


@mixin labels($size:small){
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: $font-size-label;
	font-weight: bold;
}

@mixin active(){
  &:hover, &:focus {
    @content;
  }
}

@mixin stoic(){
	&:hover,
	&:active,
	&:focus { text-decoration: none; }
}

@mixin columns($count:4,$width:100px,$gap:0){
	-webkit-column-count: $count;
	-moz-column-count: $count;
	column-count: $count;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
	-webkit-column-width: $width;
	-moz-column-width: $width;
	column-width: $width;
}

@mixin avoid-break {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; font-style: $input-style-placeholder; }
  &:-moz-placeholder { color: $color; font-style: $input-style-placeholder; }
  &::-moz-placeholder { color: $color; font-style: $input-style-placeholder; }
  &:-ms-input-placeholder { color: $color; font-style: $input-style-placeholder; }
}


@mixin clean() { 
  margin: 0; 
  padding: 0; 
  border: 0;
  list-style-type: none; 
  li { 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
  }
}

@mixin inlinelist($dir:false) { 
  @include clean;
  @if $dir { text-align: $dir; }
  > li {
    display: inline-block;
    @if $dir == 'left' { margin-right: 1.5em; }
    @if $dir == 'right' { margin-left: 1.5em; }
    @if $dir == 'center' { margin-right: .75em; margin-left: .75em; }
    > a { display: block; }
  }
}

@mixin typography(){
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
}

@mixin smallcaps() { 
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: $light;
  font-weight: bold;
  font-style: normal;
}


@mixin ellipsis(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@mixin check(){
  content: '';
  display: inline-block;
  border: 2px solid;
  border-top-width: 0;
  border-right-width: 0;
  height: 6px;
  width: 12px;
  @include transform(rotate(-45deg));
  margin: -6px .75em 0 0;
  vertical-align: middle;
}
