$mini: 400px !default;
$phone: 540px !default;
$phablet: 768px !default;
$tablet: 960px !default;
$laptop: 1280px !default;
$large: 1440px !default;
$desktop: 1600px !default;

$query_mini: "max-width: " $mini;
$query_phone: "max-width: " ($phone - 1px);
$query_phablet: "min-width: " ($phone) ") and (max-width: " ($phablet - 1px);
$query_small: "max-width: " ($phablet - 1px);
$query_large: "min-width: " ($phablet);
$query_tablet: "min-width: " ($phablet) ") and (max-width: " ($tablet - 1px);
$query_laptop: "min-width: " ($tablet) ") and (max-width: " ($laptop - 1px);
$query_desktop: "min-width: " ($laptop) ") and (max-width: " ($desktop - 1px);
$query_display: "min-width: " ($desktop - 1px) "";

$query_small_device: "max-device-width: " ($phablet - 1px);
$query_large_device: "min-device-width: " ($phablet);

@mixin mini(){ @media ( $query_mini ) { @content; } }
@mixin phone(){ @media ( $query_phone ) { @content; } }
@mixin phablet(){ @media ( $query_phablet ) { @content; } }
@mixin tablet(){ @media ( $query_tablet ) { @content; } }

@mixin laptop(){ @media ( $query_laptop ) { @content; } }
@mixin desktop(){ @media ( $query_desktop ) { @content; } }
@mixin display(){ @media ( $query_display ) { @content; } }

@mixin max-mini(){ @media ( max-width: $mini ) { @content; } }
@mixin max-phone(){ @media ( max-width: $phone ) { @content; } }
@mixin max-phablet(){ @media ( max-width: $phablet ) { @content; } }
@mixin max-tablet(){ @media ( max-width: $tablet ) { @content; } }
@mixin max-laptop(){ @media ( max-width: $laptop ) { @content; } }
@mixin max-desktop(){ @media ( max-width: $desktop ) { @content; } }
@mixin max-display(){ @media ( max-width: $display ) { @content; } }
@mixin min-mini(){ @media ( min-width: ( $mini + 1px ) ) { @content; } }
@mixin min-phone(){ @media ( min-width: ( $phone + 1px ) ) { @content; } }
@mixin min-phablet(){ @media ( min-width: ( $phablet + 1px ) ) { @content; } }
@mixin min-tablet(){ @media ( min-width: ( $tablet + 1px ) ) { @content; } }
@mixin min-laptop(){ @media ( min-width: ( $laptop + 1px ) ) { @content; } }
@mixin min-desktop(){ @media ( min-width: ( $desktop + 1px ) ) { @content; } }
@mixin min-display(){ @media ( min-width: ( $display + 1px ) ) { @content; } }

@mixin small(){ @media ( $query_small ) { @content; } }
@mixin large(){ @media ( $query_large ) { @content; } }
@mixin small-device(){ @media ( $query_small_device ) { @content; } }
@mixin large-device(){ @media ( $query_large_device ) { @content; } }
@mixin screen(){ @media screen { @content; } }
@mixin print(){ @media print { @content; } }

@if $readme == false {
	@include small { [data-large] { display: none !important; } }
	@include large { [data-small] { display: none !important; } }
}